/* CSS variables for values that are repeated throughout the code */
:root {
--header-underline: 3px rgba(0, 0, 255, 0.623) solid;
--image-border-radius: 15px;
--link-color: rgb(17, 17, 216);
--image-border:2px lightgrey dashed; 
}


/* Adds smooth scrolling when clicking on nav bar links */
html {
  scroll-behavior: smooth;
}


/* Set font-family, margins, background color of body */
body {
  font-family:  'Lucida Sans', Arial, sans-serif ,sans-serif, Georgia;
  margin: auto;
  background: radial-gradient(circle, rgb(234, 162, 194) 0%, rgba(148,187,233,1) 100%);

}

/* Set background color and border bottom for header */
header {
  background-image: linear-gradient(to top, #bd8eef 0%, #7ec4f9f1 100%);
  border-bottom: var(--header-underline);
}

/* Creates flexbox to evenly space nav bar items and style the text */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  height: 100px;
  font-size: 22px;
}

/* Makes unordered list have no list style */
ul {
  list-style-type: none;
}

/* Makes nav bar links flex so that it appears from the right side of screen */
nav ul {
  display: flex;
  justify-content: flex-end;
}

/* Margin spacing between li items on nav bar */
nav li {
  margin: 40px;
}

/* Makes all links the color blue with no text-decoration */
a {
  text-decoration: none;
  color: var(--link-color);
}

/* When links are hovered over, they are underlined and enlarged */
a:hover {
  text-decoration: underline;
  font-size: 26px;
}

/* Makes link color remain the same even after visiting the link */
a:visited {
  color: var(--link-color);
}

/* Style figcaptions for Projects 2-5 so that it's centered at the bottom */
figcaption {
  position: relative;
  bottom: 65px;
  left:170px;
  width:35%;
  background-color: #CCCCFF;
  border:2px white solid;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

/* Set profile image properties in About section */
.about img {
  width: 350px;
  margin-right: 20px;
  border-radius: var(--image-border-radius);
}

/* Makes profile image and about me section responsive to adapt to various viewports */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  margin: 50px;
}

/* Sets all H2 to have a border-bottom line of blue and increased font size*/
.about h2, .heading {
  border-bottom: var(--header-underline);
  font-size:28px;
}

/* Sets all H2 headings in work section to adjust margins to align with the rest of the page */
.heading {
  margin: 0 50px;
}

/* Creates flexbox container for project1 to make it responsive and adjusts the top margin */
.work {
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* Style image for project 1 with border and rounded edges */
#project1 img {
  width: 700px;
  border: var(--image-border);
  border-radius: var(--image-border-radius);
}

/* Style figcaption for Project 1 so that it's centered at top */
#project1caption {
  position:relative;
  bottom:90%;
  left:35%;
  width:30%;
}

/* Creates flexbox for smaller projects 2-5 to make the page responsive */
.projects2-5 {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

/* Adjusts size and margins for project 2-5 images and adds rounded dashed border */
.projects2-5 img {
  width: 500px;
  margin: 10px 30px;
  border: var(--image-border);
  border-radius: var(--image-border-radius);
}

/* Sets unordered list in contact section to be flex */
.contact ul {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  font-size:20px;
}

/* When project images are hovered over, a blue solid border appears */
#work img:hover {
  border:5px rgba(0, 0, 255, 0.623) solid;
}

/* When screen width is less than 768px, the nav bar appears as a column. This also resizes the project 1 image. This is to make the page responsive on various screen sizes */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    position:relative;
    height:100%;
    padding:0;
  }

  #project1 img {
    width:600px;
  }
}
 